.container {
    width: 90%;
    display: flex;
    overflow-x: auto;
    padding: 0 12px;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    grid-gap: 1rem;
    flex-wrap: nowrap;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* высота для горизонтального скролла */
    background-color: #ECEDEF;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 9em;
    width: 134px;
}

@media (max-width: 420px) {
    .list {
        justify-content: center;
    }
}