.footer {
    padding: 30px 24px 0 24px;
    text-align: center;
}

.footer__sale {
    color: #888E99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer__sum {
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5364FF;
    border-radius: 0.5rem;
    padding: 16px 96px;
}

.footer__add {
    color: #999999;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    word-wrap: break-word;
    flex-direction: column;
}